* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v201_192 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_190 {
  width: 500px;
  height: 500px;
  background: url("main.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 1123px;
  overflow: hidden;
}
.v201_5 {
  width: 615px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 300px;
  left: 262px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 120px;
  opacity: 1;
  text-align: left;
}
