[Unit]
Description=Ecocycling-FrontWEB-Program

[Service]
User=root
WorkingDirectory=/Ecocycling-Client
ExecStart=python3 Setup/main.py
Restart=always

[Install]
WantedBy=multi-user.target