<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" />
    <title>Document</title>
    <script>
        setInterval(function(){$.ajax({
                url: 'http://localhost:8080/signin/upload',
                type: 'GET',
                
                success: function(response){
                    var name = response[0]
                    var image = response[1]
                    if(name != null){ 
                      let url = `http://127.0.0.1/signin?username=${name}&userimage=${image}`
                      location.replace(url)
                    }
                },
                error: function(error){
                    console.log(error);
                }
            })
        }, 2000)
    </script>
</head>

<body>
    <div class="v201_192">
        <div class="v201_190"></div>
        <span class="v201_5">123123123</span>
    </div>
</body>

</html>

<!-- <html>
   <body>
        {% if True %}
        <img src="{{ url_for('static', filename=image_file) }}">
        {% endif %}
   </body>
</html>
 -->
