<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v201_192">
        <div class="v201_190"></div>
        <span class="v201_5">123123123</span>
    </div>
</body>

</html>

<!-- <html>
   <body>
        {% if True %}
        <img src="{{ url_for('static', filename=image_file) }}">
        {% endif %}
   </body>
</html>
 -->